<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%level} [%X{LOGID}] %highlight{[%file:%line]} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="error"/>
        <Logger name="org.thymeleaf" level="error"/>

        <Logger name="com.xhh.demo.sso.auth" level="debug"/>

        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>